@charset "utf-8";

/*input.phpとlogin.php共通*/
.input {
  text-align: center;
}

.error {
  color: #FF0000;
}

a {
  list-style: none;
  float: left;
  /* 上下のpaddingを33px、左右のpaddingを20pxにしてください */
  padding: 20px 20px;
}

.header {
  height: 90px;
}

/* header-listのfloatプロパティをleftにしてください */
.header-list {
  text-align: center;
}

li {  display: inline-block; }

.result {
  color: #FF0000;
}